<ion-modal-view>
  <ion-header-bar class="bar-stable">
      <h1 class="title">財を送る</h1>
      <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form name="assetForm">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" placeholder="財の額を入力してください" ng-model="assetNumber" ng-required="true">
        </label>
      </div>

      <div class="padding">
        <button class="button button-block button-positive" ng-click="sendAsset(assetForm); assetForm = null" ng-disabled="assetForm.$invalid">
          送信
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
